.card {
  margin: 0 auto 0 auto;
}

.card__content {
  max-width: 282px;
  width: 100%;
  height: 361px;
  background-color: #ffffff;
  margin-left: auto;
  border-radius: 10px;
  overflow: hidden;
}

.card__conteiner {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  max-width: 880px;
  width: 100%;
  gap: 20px;
  column-gap: 10px;
  margin: 45px auto 40px auto;
}

.card__image {
  object-fit: cover;
  height: 282px;
  width: 100%;
}
.card_info {
  background-color: #ffffff !important;
  display: flex;
  padding: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.card__text {
  font-family: Inter;
  color: rgb(0, 0, 0) !important;
  background-color: white !important;
  padding-right: 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  flex-grow: 1;
}
.button__like {
  max-width: 21px;
  height: 19px;
  width: 100%;
  background-image: url("../images/like.png");
  background-color: white !important;
  border: none;
  margin-left: auto;
}

.button__like_active {
  background-image: url("../images/likehover.png");
  transition: background-color 0.5;
}

.button__delete {
  position: relative;
  top: -280px;
  left: 250px;
  max-width: 18px;
  height: 19px;
  width: 100%;
  background-image: url("../images/Trash.png");
  background-color: transparent;
  border: none;
}

.button__delete-icon {
  background-image: url("../images/Trashhover.png");
  transition: background-color 0.5;
}

@media screen and (max-width: 768px) {
  .card__conteiner {
    grid-template-columns: 1fr 1fr;
    max-width: fit-content;
  }
}
@media screen and (max-width: 320px) {
  .card__conteiner {
    grid-template-columns: 1fr;
    max-width: fit-content;
  }
}

@media screen and (max-width: 420px) {
  .card__conteiner {
    grid-template-columns: 1fr;
    max-width: fit-content;
  }
}
